.yui-b
  - semantic_form_for :contact, :url => "/directory/search" do |form|
    = params[:id].blank? ? hidden_field_tag(:owner_id, params[:owner_id]) : hidden_field_tag(:owner_id, params[:id])
    .geo
      %p geo
      = form.input :postal_code, :input_html => {:size => 10}
      = select_tag('distance', select_options_generator) 
    .opts
      %p opts
    .buttons
      = form.commit_button "Search"
