.yui-b
  =link_to "Contacts", contacts_path
#yui-main
  .yui-b
    %h2 Manage your directory!
    %p At the left you will find a few options for managing your directory.
    %dl
      %dt
        Contacts
        %dd Manage the main contacts in your directory (addresses, names, etc)
      %dt
        Elements
        %dd Manage what elements your contacts can have (for example, adding a phone number element)
